.header-styling {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

h1 {
  margin: 0;
  color: #141413;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  /* 187.5% */
  letter-spacing: -1.6px;
}

.main-styling {
  padding-top: 80px;
}

.form-styling {
  display: flex;
  flex-direction: stretch;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.input-styling {
  display: flex;
  width: 400px;
  padding: 8px 12px;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  background: #FFF;
  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #6B7280;

  /* text-sm/leading-5/font-normal */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.ingredient-button {
  display: flex;
  width: 183px;
  height: 38px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #141413;
  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FAFAF8;
  /* text-sm/leading-5/font-medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  border: none;
  cursor: pointer;
}

button:active {
  background-color: #000000;
  color: #FAFAF8;
}